{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    <p>
        You are about to participate in the most exciting study to date across all social sciences, probably. <br>
        The goal of this research is to evaluate how you think and how you behave with others in order to check
        the influence of individuals on how social groups form and evolve.
        For that purpose, you will face a set of tasks -sometime alone, sometime with others- ranging from how fast can
        you imitate a simple action to managing resources together to save the planet.
        Everything will take place online, and as you probably already know, from your personal computer. <br>
        Each task will be explained when the time comes. Relax, sit comfortably and click "next" whenever
        you feel ready to start.
    </p>

    {% next_button %}

{% endblock %}